<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uiCookies:Resto &mdash; Free Bootstrap Theme, Free Restaurant Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles-merged.css">
    <link rel="stylesheet" href="~/css/style.min.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="~/index.cshtml" title="uiCookies:FineOak">FineOak</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" data-nav-section="welcome">Главная</a></li>
            <li><a href="#" data-nav-section="menu">Меню</a></li>
            <li><a href="#" data-nav-section="reservation">Резерв</a></li>
            <li><a href="#" data-nav-section="contact">Контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="flexslider" data-section="welcome">
      <ul class="slides">
        <li style="background-image: url(/img/hero_bg_1.jpg)" class="overlay" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                  <h1 class="primary-heading">Welcome</h1>
                  <h3 class="secondary-heading">Bao Bao</h3>
                  <p class="sub-heading">Ресторан бар</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(/img/hero_bg_2.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                    <h1 class="primary-heading">Cuisine</h1>
                  <h3 class="secondary-heading">Паназиатская</h3>
                  <p class="sub-heading">Тайская, Вьетнамская, Китайская и Европейская </p>
                </div>
              </div>
            </div>
          </div>
          
        </li>
        <li style="background-image: url(/img/hero_bg_3.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                  <h1 class="primary-heading">Enjoy</h1>
                  <h3 class="secondary-heading">Шоу программа</h3>
                  <p class="sub-heading">Пятница и суббота выступление диджеев</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-5 text-center probootstrap-animate">
            <div class="probootstrap-heading dark">
              <h1 class="primary-heading">Discover</h1>
              <h3 class="secondary-heading">Путь создания</h3>
              <span class="seperator">* * *</span>
            </div>
            <p>Мы привезли из Тайланда шеф повара со стажем 20 лет в рестораноом деле. В нашем ресторане вы сможете попробовать все деликаетсы юго-восточной Азии</p>
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            <p><img src="/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>

    <section class="probootstrap-section-bg overlay" style="background-image: url(/img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5"  data-section="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Discover</h2>
              <h3 class="secondary-heading">Меню</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <figure class="image"><img src="/img/img_square_1.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Fried Potatoes with Garlic</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="/img/img_square_2.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Tuna Roast Source</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="/img/img_square_3.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Roast Beef (4 sticks)</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="/img/img_square_4.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Salted Fried Chicken</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <figure class="image"><img src="/img/img_square_5.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Baked Potato Pizza</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="/img/img_square_1.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Fried Potatoes with Garlic</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="/img/img_square_2.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Salted Fried Chicken</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="/img/img_square_3.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Tuna Roast Source</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section-bg overlay" style="background-image: url(/img/hero_bg_5.jpg);"  data-stellar-background-ratio="0.5" data-section="reservation">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Резерв</h2>
              <h3 class="secondary-heading">Забронируйте стол</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-animate">
            <form method="post" action="Index" class="probootstrap-form">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="people">Кол-во персон</label>
                    <div class="form-field">
                      <i class="icon icon-chevron-down"></i>
                      <input type="text" name="person" id="person" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="date">Дата</label>
                    <div class="form-field">
                      <i class="icon icon-calendar"></i>
                      <input type="text" name="date" id="date" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="time">Время</label>
                    <div class="form-field">
                      <i class="icon icon-clock"></i>
                      <input type="text" name="time" id="time" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <!-- END row -->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="name">Имя</label>
                    <div class="form-field">
                      <i class="icon icon-user2"></i>
                      <input type="text" name="name" id="name" class="form-control" placeholder="Введите имя">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <div class="form-field">
                      <i class="icon icon-mail"></i>
                      <input type="text" name="email" id="email" class="form-control" placeholder="Введите email">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="phone">Телефон</label>
                    <div class="form-field">
                      <i class="icon icon-phone"></i>
                      <input type="text" name="phone" id="phone" class="form-control" placeholder="Введите номер телефона">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <input type="submit" name="submit" id="submit" value="Забронировать" class="btn btn-lg btn-primary btn-block">
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white" data-section="contact">
      <div class="container">
        <div class="row">
            <div class="col-md-5 text-center probootstrap-animate">
                <div class="probootstrap-heading dark">
                    <h1 class="primary-heading">Контакты</h1>
                    <h3 class="secondary-heading">Приходите в гости</h3>
                </div>
                <p>Астана, Кабанбай батыра 5 <br> в здании Цирка (бывш. Мумтаз)</p>
                <p>Телефон <br> +7 775 007 01 17</p>
            </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A930c94ac07d309c23093982540e8a16f297b9fd0aae7ead642153ba428b795c3&amp;source=constructor" width="600" height="400" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              <h3>Контакты</h3>
              <div class="row">
                <div class="col-md-6">
                  <p> Астана, Кабанбай батыра 5 <br> в здании Цирка (бывш. Мумтаз)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              <h3>Время работы</h3>
              <div class="row">
                <div class="col-md-4">
                  <p>Пятница - Суббота <br> 12:00 - 05:00</p>
                </div>
                <div class="col-md-4">
                  <p>Воскресенье - Четверг <br>12:00 - 01:00</p>
                </div>
                <div class="col-md-4">
                  <p>Телефон <br> +7 775 007 01 17</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="~/js/scripts.min.js"></script>
    <script src="~/js/custom.min.js"></script>

  </body>
</html>